In [ ]:
# 1. Completed Python 
# 2. Numpy 
# 3. Pandas (groupby, value_counts)
# 4. Matplotlib

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [ ]:
# Encoding - 
# There is a file called data.txt which contains latin words 
with open("data.txt", "r", encoding="utf-8") as _file:
    content = _file.read()

# latin-1

In [ ]:
# Exceptional Handling 
10/0

ZeroDivisionError: ignored

In [ ]:
taxFile = open("taxFile.txt", "r")

FileNotFoundError: ignored

In [ ]:
try:
    taxFile = open("taxFile.txt", "r")
except Exception as e:
    print("Tax File not found on system, please make sure you have uploaded the file correctly")

Tax File not found on system, please make sure you have uploaded the file correctly

In [ ]:
! touch taxFile.txt   #unix command - to create a blank file

In [ ]:
try:
    taxFile = open("taxFile.txt", "r")
    
    taxFile.close()
    print("Read the file succesfully!")
except Exception as e:
    print("Tax File not found on system, please make sure you have uploaded the file correctly")

Read the file succesfully!

In [ ]:
age = 0
salary = 100  
try:
    someRatio = salary/age
except ZeroDivisionError as e:
    print("Age can not be 0")

Age can not be 0

In [ ]:
# ZeroDivisionError, FileExistsError, FileNotFoundError, FloatingPointError
# list of all the buit-in exceptions https://docs.python.org/3/library/exceptions.html#exception-hierarchy

In [ ]:
# Exception 
try: 
    10/0
except Exception as e:
    print(e)

division by zero

In [ ]:
salary = 100 
age = 10 
taxFile = "taxFile1.txt"
try:
    someRatio = salary / age
    taxpath = open(taxFile, "r")
    taxfile = taxpath.read()
    taxpath.close()
except (ZeroDivisionError, FileNotFoundError) as e:
    print("Something went wrong: ", e)

Something went wrong:  [Errno 2] No such file or directory: 'taxFile1.txt'

In [ ]:
a = 10 
b = 0
try:
    c = a/b
except Exception as e:
    print(b)
    b = 1 # check if this is possible or not
    c = a / b
print(f"a is {a}")
print(f"b is {b}")
print(f"c is {c}")

0
a is 10
b is 1
c is 10.0

In [ ]:
def taxCalculation():
    try:
        ans = salary/age
    except Exception as e: 
        ans = 0 
    return ans

In [ ]:
def taxCal(salary, age):
    if age == 0:
        raise ValueError("Age can not be Zero!")
    ans = salary/age
    return ans

In [ ]:
taxCal(100, 0)

ValueError: ignored

In [ ]:
# File Handling 

# Read file 
with open("sample_data/anscombe.json", "r") as ansFile:
    ansContent = ansFile.read()

In [ ]:
print(ansContent)

[
  {"Series":"I", "X":10.0, "Y":8.04},
  {"Series":"I", "X":8.0, "Y":6.95},
  {"Series":"I", "X":13.0, "Y":7.58},
  {"Series":"I", "X":9.0, "Y":8.81},
  {"Series":"I", "X":11.0, "Y":8.33},
  {"Series":"I", "X":14.0, "Y":9.96},
  {"Series":"I", "X":6.0, "Y":7.24},
  {"Series":"I", "X":4.0, "Y":4.26},
  {"Series":"I", "X":12.0, "Y":10.84},
  {"Series":"I", "X":7.0, "Y":4.81},
  {"Series":"I", "X":5.0, "Y":5.68},

  {"Series":"II", "X":10.0, "Y":9.14},
  {"Series":"II", "X":8.0, "Y":8.14},
  {"Series":"II", "X":13.0, "Y":8.74},
  {"Series":"II", "X":9.0, "Y":8.77},
  {"Series":"II", "X":11.0, "Y":9.26},
  {"Series":"II", "X":14.0, "Y":8.10},
  {"Series":"II", "X":6.0, "Y":6.13},
  {"Series":"II", "X":4.0, "Y":3.10},
  {"Series":"II", "X":12.0, "Y":9.13},
  {"Series":"II", "X":7.0, "Y":7.26},
  {"Series":"II", "X":5.0, "Y":4.74},

  {"Series":"III", "X":10.0, "Y":7.46},
  {"Series":"III", "X":8.0, "Y":6.77},
  {"Series":"III", "X":13.0, "Y":12.74},
  {"Series":"III", "X":9.0, "Y":7.11},
  {"Series":"III", "X":11.0, "Y":7.81},
  {"Series":"III", "X":14.0, "Y":8.84},
  {"Series":"III", "X":6.0, "Y":6.08},
  {"Series":"III", "X":4.0, "Y":5.39},
  {"Series":"III", "X":12.0, "Y":8.15},
  {"Series":"III", "X":7.0, "Y":6.42},
  {"Series":"III", "X":5.0, "Y":5.73},

  {"Series":"IV", "X":8.0, "Y":6.58},
  {"Series":"IV", "X":8.0, "Y":5.76},
  {"Series":"IV", "X":8.0, "Y":7.71},
  {"Series":"IV", "X":8.0, "Y":8.84},
  {"Series":"IV", "X":8.0, "Y":8.47},
  {"Series":"IV", "X":8.0, "Y":7.04},
  {"Series":"IV", "X":8.0, "Y":5.25},
  {"Series":"IV", "X":19.0, "Y":12.50},
  {"Series":"IV", "X":8.0, "Y":5.56},
  {"Series":"IV", "X":8.0, "Y":7.91},
  {"Series":"IV", "X":8.0, "Y":6.89}
]

In [ ]:
myContent = "This is my first line of text."
with open("myfile.txt", 'w') as myFile:
    myFile.write(myContent)

In [ ]:
# For Windows people 
# C:\\Users\\username\\Downloads\\myfile.txt
# C:/Users/username/Downloads/myfile.txt

with open("C:\\Users\\username\\Downloads\\myfile.txt", "r") as myFile:
    myContent = myFile.read()

In [ ]:
# 'r' - read mode 
# 'w' - write mode 
# 'a' - append mode
# 'b' - binary mode

In [ ]:
# !Pandas!
# GroupBy, value_counts

In [ ]:
df = pd.DataFrame()
df["Product"] = np.random.choice(["P1", "P2", "P3", "P4", "P5"], 10)
df["Quantity"] = np.random.randint(1, 10, 10)

In [ ]:
df

  Product  Quantity
0      P2         4
1      P4         2
2      P3         8
3      P4         7
4      P4         3
5      P5         6
6      P5         1
7      P1         4
8      P2         2
9      P5         4

In [ ]:
df.Product.unique()

array(['P2', 'P4', 'P3', 'P5', 'P1'], dtype=object)

In [ ]:
df.Product.value_counts()

P5    3
P4    3
P2    2
P1    1
P3    1
Name: Product, dtype: int64

In [ ]:
df.groupby("Product").agg({"Quantity": "sum"})

         Quantity
Product
P1              4
P2              6
P3              8
P4             12
P5             11

In [ ]:
df.groupby("Product").agg({"Quantity": "mean"})

         Quantity
Product
P1       4.000000
P2       3.000000
P3       8.000000
P4       4.000000
P5       3.666667

In [ ]:
for p in df.Product.unique():
    _sum = df.loc[df.Product == p, "Quantity"].sum()
    print(p, _sum)

P2 6
P4 12
P3 8
P5 11
P1 4

In [ ]:
productQuantAgg = df.groupby("Product").agg({"Quantity": "sum"}).reset_index()

In [ ]:
productQuantAgg

  Product  Quantity
0      P1         4
1      P2         6
2      P3         8
3      P4        12
4      P5        11

In [ ]:
# df.drop_duplicates(subset=["Product"])

In [ ]:
df = pd.DataFrame()
df["Product"] = np.random.choice(["P1", "P2", "P3", "P4", "P5"], 10)
df["Quantity"] = np.random.randint(1, 10, 10)
df["Cust"] = np.random.choice(["C1", "C2", "C3"], 10)
df

  Product  Quantity Cust
0      P5         5   C1
1      P2         2   C3
2      P1         6   C3
3      P2         7   C1
4      P4         7   C2
5      P4         7   C3
6      P3         3   C1
7      P5         1   C1
8      P4         4   C1
9      P4         9   C1

In [ ]:
df.loc[(df.Cust == "C1") & (df.Quantity > 5)]

  Product  Quantity Cust
3      P2         7   C1
9      P4         9   C1

In [ ]:
df.groupby(["Cust"]).agg({"Quantity": "sum"})

      Quantity
Cust
C1          29
C2           7
C3          15

In [ ]:
df.groupby(["Cust", "Product"]).agg({"Quantity": "sum"})

              Quantity
Cust Product
C1   P2              7
     P3              3
     P4             13
     P5              6
C2   P4              7
C3   P1              6
     P2              2
     P4              7

In [ ]:
df.groupby(["Product", "Cust"]).agg({"Quantity": "sum"})

              Quantity
Product Cust
P1      C3           6
P2      C1           7
        C3           2
P3      C1           3
P4      C1          13
        C2           7
        C3           7
P5      C1           6

In [ ]:
import time

In [ ]:
startTime = time.time()
print("Some process..")
time.sleep(5)
endTime = time.time()
print(f"Total time taken in process is: {endTime - startTime} sec")

Some process..
Total time taken in process is: 5.007960319519043 sec

In [ ]:
startTime

1617764754.7151637

In [ ]:
from datetime import datetime

In [ ]:
datetime.now()

datetime.datetime(2021, 4, 7, 3, 26, 7, 649566)

In [ ]:
### Matplotlib ###

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# install any package 
! pip install <package_name>